h1{
    background-color: chartreuse; text-align: center; color: blue;
}

h2{
    background-color: blue;text-align: justify; color: aliceblue;
}

p{

background-color: yellow; text-align: justify; color: darkred;
}


p{

background-color: yellow; text-align: justify; color: darkred;
}
table{
    background-color: chartreuse; text-align: center; color: blue;
}

a{
    background-color: chartreuse;
    color: black;
}